:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-header-color: #000000;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --button-bg-color: #F5F4FA;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --additional-background-color: #F5F4FA;
}

/* background-color */
.background-color {
    background-color: var(--main-background-color);
}
.secondary-background {
    background-color: var(--secondary-background-color);
}
.additional-background {
    background-color: var(--additional-background-color);
}

/* logo */
.logo {
    color: var(--accent-color);
}
.logo-header {
    color: var(--logo-header-color);
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo-footer {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

/* nav */
.list {
    list-style: none;
}
.link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.header-contacts {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.header-contacts:hover,
.header-contacts:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* main */
.headline {
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    color: var(--title-text-color);
    background-color: var(--accent-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.portfolio-button {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
}
.portfolio-button.primary {
    color: var(--title-text-color);
    background-color: var(--accent-color);
}
.portfolio-button.secondary {
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);


}
.hidden {
    font-size: 0;
}
.title {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text {
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.heading {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-title {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}
.position-text {
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

/* footer*/
.address-text {
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-contacts {
    color: var(--footer-contact-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

/* portfolio-page*/
.project-title {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

}
.product-text {
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--title-text-color);
    background-color: var(--accent-color);
}